* {
  margin: 0;
  padding: 0;
  font-family: Iranyekan;
}

@font-face {
  font-family: Iranyekan;
  src: url(../fonts/IRANYekanWeb-Medium.eot);
  src: url(../fonts/IRANYekanWeb-Medium.ttf);
  src: url(../fonts/IRANYekanWeb-Medium.woff);
  src: url(../fonts/IRANYekanWeb-Medium.woff2);
}
