div.bacebanner {
  width: 100%;
  height: 40vh;
}

div.bacebanner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.entekhab {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  color: #441752;
}
div.entekhab > h1 {
  font-size: 20px;
}

div.entekhab > div.beraandcoli {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
  box-sizing: border-box;
}
div.entekhab > div.beraandcoli > div.brand1 {
  width: 35%;
  height: 19vh;
  border: 0.5px rgb(211, 208, 208) solid;
  transition: 1000ms;
}
div.entekhab > div.beraandcoli > div.brand1 > h2 {
  font-size: 11px;
  margin-top: 5px;
  color: black;
}

div.entekhab > div.beraandcoli > div.padding {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
div.entekhab > div.beraandcoli > div.padding2 {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

div.entekhab > div.beraandcoli > div.brand1:hover {
  transform: scale(110%);
}

div.entekhab > div.beraandcoli > div.brand1 > a.img {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}
div.entekhab > div.beraandcoli > div.brand1 > a.img >h2.ger{
  font-size: 20px;
}
div.entekhab > div.beraandcoli > div.brand1 > a.img >h2.paeez{
  font-size: 20px;
}

div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.ICE {
  color: red;
  font-size: 20px;
  font-style: italic;
}

div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.turbo {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-style: italic;
}
div.entekhab > div.beraandcoli > div.brand1 > h2.dddd {
  margin-top: 20px;
}

div.entekhab > div.beraandcoli > div.brand1 > a.img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.turbo {
  color: black;
  font-size: 19px;
  margin-top: 5px;
}
div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.arshia {
  font-size: 30px;
  font-style: italic;
  color: rgb(224, 25, 25);
}
div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.farid {
  color: rgb(224, 25, 25);
  font-size: 27px;
}

div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.general {
  color: rgb(0, 119, 255);
  font-size: 23px;
  margin-top: 5px;
}
div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.shargh {
  font-size: 20px;
}
div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.ernest {
  font-size: 26px;
  font-style: italic;
  color: #0e4872;
}
div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.drakht {
  font-size: 20px;
  color: #04243b;
}
div.entekhab > div.beraandcoli > div.brand1 > a.img > h2.Azar {
  font-size: 15px;
  color: #000000;
  font-style: italic;
  text-align: center center;
}

div.entekhab > div.beraandcoli > div.brand1 > a.img > img.img2 {
  object-fit: cover;
}
div.entekhab > div.beraandcoli > div.brand1 > a.koochik {
  width: 75%;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  /* margin-right: 34px; */
}
