div.video {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
div.video > div.basic {
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 5px 5px 13px #441752;
  border-radius: 5px;
  padding-bottom: 10px;
}
div.video > div.basic > div.vido {
  width: 100%;
  height: 5vh;
}
div.video > div.basic > div.vido:hover > video {
  opacity: 0.8;
}

div.video > div.basic > div.vido > video {
  width: 100%;
  height: 25vh;
}

div.video > div.basic > div.matn {
  width: 100%;
}
div.video > div.basic > div.matn > h2 {
  font-size: 15px;
  color: black;
  display: none;
}
div.video > div.basic > div.matn > p {
  color: black;
  font-size: 15px;
  display: none;
}

div.video > div.basic > div.mahsool > a {
  border: 1px solid #441752;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #441752;
  transition: 1000ms;
  margin-top: 60px;
}
